    
.test {

https://www.facebook.com/oxiggy 
https://vk.com/oxiggy
https://twitter.com/oxiggy
https://www.instagram.com/oxiggy/
https://oxiggy.tumblr.com/ 
https://github.com/oxiggy
https://www.youtube.com/channel/UCykqRP3EN0R-w2xl5AuXEHA
https://www.twitch.tv/stream_cafe
Шутка про хаб 


skype:oxiggy 
discord:oxiggy#5357
https://discord.gg/2nrN3eA

https://eu.diablo3.com/ru/profile/oxiggy-2286/career
https://www.overbuff.com/players/pc/oxiggy-2286
https://playoverwatch.com/ru-ru/career/pc/oxiggy-2286
https://www.stormshield.one/save-the-world/stats/addvoid 


https://coub.com/oxiggggy
https://htmlacademy.ru/profile/oxiggy
https://www.patreon.com/oxiggy/creators
https://www.behance.net/oxiggy
https://www.twitch.tv/oxiggy

https://github.com/FortAwesome/Font-Awesome/tree/master/svgs/regular 


https://github.com/FortAwesome/Font-Awesome/blob/master/svgs/brands/twitter.svg
https://github.com/FortAwesome/Font-Awesome/blob/master/svgs/brands/github-alt.svg
https://github.com/FortAwesome/Font-Awesome/blob/master/svgs/brands/github-square.svg
https://github.com/FortAwesome/Font-Awesome/blob/master/svgs/brands/github.svg
https://github.com/FortAwesome/Font-Awesome/blob/master/svgs/brands/behance-square.svg
https://github.com/FortAwesome/Font-Awesome/blob/master/svgs/brands/behance.svg
}